<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=info344lecturejan30;AccountKey=SkxWzin6e0YWgJDSc1D+D/Din8xaMcX9Ed8EGVm+cz1r6Z+DOTgX+tBJjfzWxsiM9FSEbnIjHzlsjfRjL1HxgQ=="/>
  </appSettings>
</configuration>