<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=info344webcrawlerservice;AccountKey=Cv5RXf/HLxjnQqdisNkKJbnXs06Lb2Bs6AhXesFfxETDorZD1Q3dvaWeT7YLjNVa9f/ceaILyz+tbPhvvlfbYw=="/>
  </appSettings>
</configuration>